@charset "UTF-8";
@font-face {
    font-family: 'Android';
    src: url('/fontes/idroid.otf')
    format('opentype');
    font-style: normal
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor1 : #C5EBD6;
    --cor2 : #83E1AD;
    --cor3 : #3DDC84;
    --cor4 : #2FA866;
    --cor5 : #063D1E;
    --fonte0 : Arial, Helvetica, sans-serif;
    --fonte1 : 'Bebas Neue', sans-serif;
    --fonte2 : 'Android', sans-serif;
}

body {
    margin: 0px;
    min-height: 100vh;
    background-color: #C5EBD6;
    font-family: var(--fonte0);

}

header {
    background-image: linear-gradient(var(--cor3), var(--cor4), var(--cor5));
    color: white;
}

header > h1{
    text-align: center;
    margin-top: 0px;
    font-family: var(--fonte1);
}

header > p {
    text-align: center;
}

nav {
    padding: 5px;
}

nav > a {
    text-decoration: none;
    color: white;
    padding: 3px;
}

nav > a:hover {
    background-color: var(--cor1)
}

main {
    width: 50%;
    margin: auto;
    border: 1px black solid;
    background-color: white;
    padding: 10px;
}

.imagem {
    display: block;
    margin: 0 auto;
    width: 100%;
}

#bugdroid {
    display: block;
    margin: 0px auto;
}

main > h1, h2 {
    font-family:var(--fonte2) ;
}

div.video {
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
